@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #374151;
  --text-h: #111827;
  --bg: #ffffff;
  --border: #e5e7eb;
  --code-bg: #f3f4f6;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  color-scheme: light dark;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #d1d5db;
    --text-h: #f9fafb;
    --bg: #09090b;
    --border: #27272a;
    --code-bg: #18181b;
  }
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg);
  color: var(--text);
}

#root {
  width: 100%;
  min-height: 100vh;

  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

code {
  font-family: var(--mono);

  background: var(--code-bg);

  padding: 2px 6px;

  border-radius: 6px;
}